---
alwaysEmailList: ljohnson@dettonville.org
runGroupsInParallel: false
parallelJobsBatchSize: 4
runInParallel: true
#failFast: true
timeout: 5
timeoutUnit: "HOURS"
maxRandomDelaySeconds: 20

buildImageGroups:
  systemd-baseos:
    runGroupsInParallel: true
    dockerFile: Dockerfile
    buildImageGroups:
      alpine:
        buildDir: openrc/alpine
        buildImageList:
          - buildImageName: openrc-alpine
      aports:
        buildDir: aports-dev
        buildImageList:
          - buildImageName: aports-dev
      centos-systemd:
        buildDir: systemd/centos
        buildImageList:
          - buildImageName: systemd-centos
            buildTags: "9"
            buildArgs:
              VERSION: "9"
          - buildImageName: systemd-centos
            buildTags: "10"
            buildArgs:
              VERSION: "10"
      redhat-systemd:
        buildDir: systemd/redhat
        buildImageList:
          - buildImageName: systemd-redhat
            buildTags: "9"
            buildArgs:
              VERSION: "9"
          - buildImageName: systemd-redhat
            buildTags: "10"
            buildArgs:
              VERSION: "10"
      fedora-systemd:
        buildDir: systemd/fedora
        buildImageList:
          - buildImageName: systemd-fedora
            buildArgs:
              VERSION: "latest"
      debian-systemd:
        buildDir: systemd/debian
        buildImageList:
          - buildImageName: systemd-debian
            buildTags: "11"
            buildArgs:
              VERSION: "11"
          - buildImageName: systemd-debian
            buildTags: "12"
            buildArgs:
              VERSION: "12"
          - buildImageName: debian-sid-systemd
            buildTags: "sid"
            buildArgs:
              VERSION: "sid"
      ubuntu-systemd:
        buildDir: systemd/ubuntu
        buildImageList:
          - buildImageName: systemd-ubuntu
            buildTags: "22.04"
            buildArgs:
              VERSION: "22.04"
          - buildImageName: systemd-ubuntu
            buildTags: "24.04"
            buildArgs:
              VERSION: "24.04"
  ## systemd images with python installed
  systemd-python:
    runGroupsInParallel: true
    dockerFile: python.Dockerfile
    buildArgs:
      IMAGE_REGISTRY: media.johnson.int:5000
      PYTHON_VERSION: "3.13.6"
    buildImageGroups:
      alpine-python:
        buildDir: openrc/alpine
        buildImageList:
          - buildImageName: openrc-alpine-python
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
      aports-python:
        buildDir: aports-dev
        dockerFile: python.Dockerfile
        buildImageList:
          - buildImageName: aports-dev-python
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
      centos-systemd-python:
        buildDir: systemd/centos
        buildImageList:
          - buildImageName: systemd-python-centos
            buildTags: "9"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "9"
          - buildImageName: systemd-python-centos
            buildTags: "10"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "10"
      redhat-systemd-python:
        buildDir: systemd/redhat
        buildImageList:
          - buildImageName: systemd-python-redhat
            buildTags: "9"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "9"
          - buildImageName: systemd-python-redhat
            buildTags: "10"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "10"
      fedora-systemd-python:
        buildDir: systemd/fedora
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-fedora
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
      debian-systemd-python:
        buildDir: systemd/debian
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-debian
            buildTags: "11"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "11"
          - buildImageName: systemd-python-debian
            buildTags: "12"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "12"
      ubuntu-systemd-python:
        buildDir: systemd/ubuntu
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-ubuntu
            buildTags: "22.04"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "22.04"
          - buildImageName: systemd-python-ubuntu
            buildTags: "24.04"
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "24.04"
