---
alwaysEmailList: ljohnson@dettonville.org
runGroupsInParallel: false
parallelJobsBatchSize: 4
runInParallel: true
#failFast: true
timeout: 5
timeoutUnit: "HOURS"
maxRandomDelaySeconds: 20

buildImageGroups:
  systemd-baseos:
    runGroupsInParallel: true
    dockerFile: Dockerfile
    buildImageGroups:
      alpine:
        buildDir: openrc/alpine
        buildImageList:
          - buildImageName: openrc-alpine
            buildTags: "latest"
            buildArgs:
              VERSION: "latest"
      aports:
        buildDir: aports-dev
        buildImageList:
          - buildImageName: aports-dev
            buildTags: "edge"
            buildArgs:
              VERSION: "edge"
      centos-systemd:
        buildDir: systemd/centos
        buildImageList:
          - buildImageName: systemd-centos
            buildTags: "9"
            buildArgs:
              VERSION: "9"
          - buildImageName: systemd-centos
            buildTags: "10"
            buildArgs:
              VERSION: "10"
      redhat-systemd:
        buildDir: systemd/redhat
        buildImageList:
          - buildImageName: systemd-redhat
            buildTags: "9"
            buildArgs:
              VERSION: "9"
          - buildImageName: systemd-redhat
            buildTags: "10"
            buildArgs:
              VERSION: "10"
      fedora-systemd:
        buildDir: systemd/fedora
        buildImageList:
          - buildImageName: systemd-fedora
            buildArgs:
              VERSION: "latest"
      debian-systemd:
        buildDir: systemd/debian
        buildImageList:
          - buildImageName: systemd-debian
            buildArgs:
              VERSION: "11"
            buildTags:
              - "11"
              - "bullseye"
          - buildImageName: systemd-debian
            buildArgs:
              VERSION: "12"
            buildTags:
              - "12"
              - "bookworm"
          - buildImageName: debian-sid-systemd
            buildTags: "sid"
            buildArgs:
              VERSION: "sid"
      ubuntu-systemd:
        buildDir: systemd/ubuntu
        buildImageList:
          - buildImageName: systemd-ubuntu
            buildArgs:
              VERSION: "22.04"
            buildTags:
              - "22.04"
              - "jammy"
          - buildImageName: systemd-ubuntu
            buildArgs:
              VERSION: "24.04"
            buildTags:
              - "24.04"
              - "noble"

  ## systemd images with python installed
  systemd-python:
    runGroupsInParallel: true
    dockerFile: python.Dockerfile
    buildArgs:
      IMAGE_REGISTRY: media.johnson.int:5000
      PYTHON_VERSION: "3.13.6"
    buildImageGroups:
      alpine-python:
        buildDir: openrc/alpine
        buildImageList:
          - buildImageName: openrc-alpine-python
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
            buildTags: "latest"
      aports-python:
        buildDir: aports-dev
        dockerFile: python.Dockerfile
        buildImageList:
          - buildImageName: aports-dev-python
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
            buildTags: "latest"
      centos-systemd-python:
        buildDir: systemd/centos
        buildImageList:
          - buildImageName: systemd-python-centos
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "9"
            buildTags: "9"
          - buildImageName: systemd-python-centos
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "10"
            buildTags: "10"
      redhat-systemd-python:
        buildDir: systemd/redhat
        buildImageList:
          - buildImageName: systemd-python-redhat
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "9"
            buildTags: "9"
          - buildImageName: systemd-python-redhat
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "10"
            buildTags: "10"
      fedora-systemd-python:
        buildDir: systemd/fedora
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-fedora
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "latest"
            buildTags:
              - "latest"
      debian-systemd-python:
        buildDir: systemd/debian
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-debian
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "11"
            buildTags:
              - "11"
              - "bullseye"
          - buildImageName: systemd-python-debian
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "12"
            buildTags:
              - "12"
              - "bookworm"
      ubuntu-systemd-python:
        buildDir: systemd/ubuntu
        buildImageList:
          ## systemd images with python installed
          - buildImageName: systemd-python-ubuntu
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "22.04"
            buildTags:
              - "22.04"
              - "jammy"
          - buildImageName: systemd-python-ubuntu
            buildArgs:
              IMAGE_REGISTRY: media.johnson.int:5000
              PYTHON_VERSION: "3.13.6"
              VERSION: "24.04"
            buildTags:
              - "24.04"
              - "noble"
