name: Docker ubuntu images build

on:
  push:
    branches: ['*']
#  schedule:
#    - cron: '30 0 1 * *'

jobs:
  docker-systemd-ubuntu:
    runs-on: ubuntu-latest

#    ## ref: https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix
#    concurrency:
#      group: ${{ github.workflow }}-systemd-ubuntu-${{ github.ref }}
##      cancel-in-progress: true
#      cancel-in-progress: false

    strategy:
      fail-fast: false
      ## ref: https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
#      max-parallel: 2
      matrix:
        include:
          - distro: ubuntu1804
            systemd-distro:
              name: systemd-ubuntu1804
              dockerfile: systemd/ubuntu/18.04.Dockerfile
              context: .
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu1804-systemd:latest
            systemd-python-distro:
              name: systemd-ubuntu1804-python
              dockerfile: systemd/ubuntu/18.04.python.Dockerfile
              context: systemd/ubuntu
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu1804-systemd-python:latest

          - distro: ubuntu2004
            systemd-distro:
              name: systemd-ubuntu2004
              dockerfile: systemd/ubuntu/20.04.Dockerfile
              context: .
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu2004-systemd:latest
            systemd-python-distro:
              name: systemd-ubuntu2004-python
              dockerfile: systemd/ubuntu/20.04.python.Dockerfile
              context: systemd/ubuntu
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu2004-systemd-python:latest

          - distro: ubuntu2204
            systemd-distro:
              name: systemd-ubuntu2204
              dockerfile: systemd/ubuntu/22.04.Dockerfile
              context: .
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu2204-systemd:latest
            systemd-python-distro:
              name: systemd-ubuntu2204-python
              dockerfile: systemd/ubuntu/22.04.python.Dockerfile
              context: systemd/ubuntu
              platforms: |-
                linux/amd64
                linux/arm/v7
                linux/arm64
              tags: |-
                lj020326/ubuntu2204-systemd-python:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: If the same workflow is already running from a previous commit, wait for it to finish
        uses: ahmadnassri/action-workflow-queue@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: lj020326
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push ${{ matrix.systemd-distro.name }}
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.systemd-distro.context }}
          file: ${{ matrix.systemd-distro.dockerfile }}
          platforms: ${{ matrix.systemd-distro.platforms }}
          push: true
          tags: ${{ matrix.systemd-distro.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build and push ${{ matrix.systemd-python-distro.name }}
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.systemd-python-distro.context }}
          file: ${{ matrix.systemd-python-distro.dockerfile }}
          platforms: ${{ matrix.systemd-python-distro.platforms }}
          push: true
          tags: ${{ matrix.systemd-python-distro.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}
