name: Build and push all docker images
permissions:
  contents: read
  checks: write

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

on:
  # Allows manual triggering
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - stable-*
    tags:
      - "*"
  # Schedule run (once daily)
  schedule:
    ## Daily Docker Image Rebuild (10:29am daily)
    - cron: '29 10 * * *'

env:
  DOCKER_IMAGE: ${{ github.repository_owner }}/nordvpn

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    # Ensure only runs in the lj020326 repo and on the "develop-lj" branch
    if: github.repository == 'lj020326/docker-nordvpn' && github.ref == 'refs/heads/develop-lj'
    runs-on: ubuntu-latest
    steps:
      - name: If the same workflow is already running from a previous commit, wait for it to finish
        uses: ahmadnassri/action-workflow-queue@v1

      - name: Check out the repo
        uses: actions/checkout@v4

      # === DOCKER BUILD SETUP PHASE ===
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
        with:
          platforms: ${{ steps.git.outputs.platforms }}

      ## ref: https://stackoverflow.com/questions/60942067/get-current-date-and-time-in-github-workflows
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      # Set a unique build ID for the current matrix version
      - name: Set unique build ID
        id: set-build-id
        run: echo "BUILD_ID=build-${{ github.run_number }}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
            ${{ env.DOCKER_IMAGE }}:${{ env.BUILD_ID }}
            ${{ env.DOCKER_IMAGE }}:${{ steps.date.outputs.date }}
          build-args: |
            IMAGE_VERSION=${{ github.sha }}
            BUILD_ID=${{ env.BUILD_ID }}
            BUILD_DATE=${{ steps.date.outputs.date }}
