name: Build and push all docker images
permissions:
  contents: read
  checks: write

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

on:
  # Allows manual triggering
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - stable-*
    tags:
      - "*"
  # Schedule run (once daily)
  schedule:
    ## Daily Docker Image Rebuild (10:29am daily)
    - cron: '29 10 * * *'

jobs:
  build_alpine:
    uses: ./.github/workflows/build-alpine.yml
  build_centos:
    uses: ./.github/workflows/build-centos.yml
  build_debian:
    uses: ./.github/workflows/build-debian.yml
  build_redhat:
    uses: ./.github/workflows/build-redhat.yml
  build_ubuntu:
    uses: ./.github/workflows/build-ubuntu.yml
  verify_all_green:
    if: github.ref == 'refs/heads/main'
    needs:
      - build_alpine
      - build_centos
      - build_debian
      - build_redhat
      - build_ubuntu
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.build_alpine.result }}',
          '${{ needs.build_centos.result }}',
          '${{ needs.build_debian.result }}',
          '${{ needs.build_redhat.result }}'
          '${{ needs.build_ubuntu.result }}'
          ]) == {'success'}"
