name: Docker centos images build

on:
  push:
    branches: ['*']
  schedule:
    ## Nightly Docker Image Rebuild (1:05am daily)
    - cron: '5 1 * * *'
#    ## Nightly Docker Image Rebuild (12am daily)
#    - cron: '0 0 * * *'

## ref: https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix
concurrency:
#  group: ${{ github.ref }}
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-systemd-centos:
    runs-on: ubuntu-latest

#    ## ref: https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix
#    concurrency:
#      group: ${{ github.workflow }}-${{ github.ref }}
#      cancel-in-progress: true
##      group: ${{ github.workflow }}-systemd-redhat-${{ github.ref }}
###      cancel-in-progress: true

    strategy:
      fail-fast: false
      ## ref: https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
#      max-parallel: 2
      matrix:
        include:
          - distro: centos7
            systemd-distro:
              name: systemd-centos7
              dockerfile: systemd/centos/7.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
#                linux/arm/v7
#                linux/arm64
              tags: |-
                lj020326/centos7-systemd:latest
            systemd-python-distro:
              name: systemd-centos7-python
              dockerfile: systemd/centos/7.python.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
#                linux/arm/v7
#                linux/arm64
              tags: |-
                lj020326/centos7-systemd-python:latest

          - distro: centos8
            systemd-distro:
              name: systemd-centos8
              dockerfile: systemd/centos/8.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
                linux/arm64
              tags: |-
                lj020326/centos8-systemd:latest
            systemd-python-distro:
              name: systemd-centos8-python
              dockerfile: systemd/centos/8.python.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
                linux/arm64
              tags: |-
                lj020326/centos8-systemd-python:latest

          - distro: centos9
            systemd-distro:
              name: systemd-centos9
              dockerfile: systemd/centos/9.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
                linux/arm64
              tags: |-
                lj020326/centos9-systemd:latest
            systemd-python-distro:
              name: systemd-centos9-python
              dockerfile: systemd/centos/9.python.Dockerfile
              context: systemd/centos
              platforms: |-
                linux/amd64
                linux/arm64
              tags: |-
                lj020326/centos9-systemd-python:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: If the same workflow is already running from a previous commit, wait for it to finish
        uses: ahmadnassri/action-workflow-queue@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      ## ref: https://stackoverflow.com/questions/60942067/get-current-date-and-time-in-github-workflows
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: lj020326
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push ${{ matrix.systemd-distro.name }}
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.systemd-distro.context }}
          file: ${{ matrix.systemd-distro.dockerfile }}
          platforms: ${{ matrix.systemd-distro.platforms }}
          build-args: |
            BUILD_ID=${{ steps.date.outputs.date }}.${{ github.run_number }}
          push: true
          tags: ${{ matrix.systemd-distro.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build and push ${{ matrix.systemd-python-distro.name }}
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.systemd-python-distro.context }}
          file: ${{ matrix.systemd-python-distro.dockerfile }}
          platforms: ${{ matrix.systemd-python-distro.platforms }}
          build-args: |
            IMAGE_REGISTRY=${{ github.repository_owner }}
            BUILD_ID=${{ steps.date.outputs.date }}.${{ github.run_number }}
          push: true
          tags: ${{ matrix.systemd-python-distro.tags }}
          labels: |
            maintainer=${{ github.repository_owner }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}
